@page
@model IndexModel

@{
    string Titulo = "Esportes Avança Tech";
}

<h1 class= "text-center mb-5">@Titulo</h1>

<div class= "text-center text-danger">
    <h2>Copa do Mundo de 2026</h2>

    <p class= "mt-5">Bem vindo ao Sistema Esporte Avança Tech</p>

    <div class= "mt-5">
        <img src="./img/copa.png"class= "w-25 "  alt="">
    </div>

    <a href="/Esporte"class= "btn btn-outline-danger mt-3">Ver Esportes</a>

    <button class= "btn btn-outline-warning mt-3">Saiba Mais</button>
</div>

