@page
<div class="container mt-5 text-center">
    <h1 class="display-3">
        Copa do Mundo 2026
        <img src="/img/fotocopa.png" alt="Foto">
    </h1>
    <p class="lead">
        Sistema CRUD de Seleções
    </p>
    <a href="/Selecoes"
       class="btn btn-primary btn-lg">
        Entrar
    </a>
</div>


    
</div>
