<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Escola Eugênia de Carvalho</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EscolaCrud.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
</head>
<body>
    <nav class= "bg-primary p-3">
        <div class= "container d-flex justify-content-around align-items-center">
            <img src="img/fotoescola.png" alt="logo" class="img-fluid" width="80">

            <a href="/" class="text-white fs-5 navbar-brand fw-bold">Escola Eugênia de Carvalho</a>

            <div  class="d-flex gap-3">
                <a href="/" class= "btn btn-outline-warning text-white">Home</a>
                <a href="/cadastraraluno" class= "btn btn-outline-warning text-white">Aluno </a>
                <a href="/contato" class= "btn btn-outline-warning text-white">Contato</a>
                <a href="/Unidades" class= "btn btn-outline-warning text-white">Unidades</a>
                <a href="/Sobre" class= "btn btn-outline-warning text-white">Sobre</a>
            </div>

        </div>
    </nav>
        
    
    <div >
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
    <div class="container-footer">

        <div class="col-footer">
            <h3>LINKS</h3>
            <ul>
                <li><a href="#">A Rede</a></li>
                <li><a href="#">Nossa História</a></li>
                <li><a href="#">Proposta Educacional</a></li>
                <li><a href="#">Unidades</a></li>
                <li><a href="#">Política de Privacidade</a></li>
            </ul>
        </div>

        <div class="col-footer">
            <h3>ACESSO RÁPIDO</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Matrículas</a></li>
                <li><a href="#">Tour Virtual</a></li>
            </ul>
        </div>

        <div class="col-footer">
            <h3>CONEXÕES</h3>
            <ul>
                <li><a href="#">Casa Publicadora Brasileira</a></li>
                <li><a href="#">Portal Adventista</a></li>
                <li><a href="#">Portal Esperança</a></li>
                <li><a href="#">Rede Novo Tempo</a></li>
                <li><a href="#">Superbom</a></li>
            </ul>
        </div>

        <div class="col-footer">
            <h3>CONTATO</h3>
            <p>Eugênia de Carvalho, 1316 - Vila Matilde</p>
            <p>São Paulo - SP</p>
            <p>CEP: 03516-000</p>
            <p>Telefone: (11) 2082-9500</p>
            <p>WhatsApp: (11) 2082-9500</p>
        </div>

    </div>

    <div class="redes-sociais">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-tiktok"></i></a>
    </div>

    <div class="copyright">
        <p>© 2026 Portal Educacional. Todos os direitos reservados.</p>
    </div>
</footer>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
