@page

<div class="container my-5">
    <h1 class="text-center">Fale Conosco</h1>
    <img src="img/contato.png" alt="foto" class=" mt-5 w-100">
    <div class="d-flex justify-content-center my-3">

        <a href ="/Cadastraraluno" class="btn btn-outline-primary"> Contato</a>
    </div>
</div>