@page
    

<img src="img/fotoescola2.png" alt="escola" class="w-100">


<div class=" mt-5  row"> 
    <img src="https://vilamatilde.educacaoadventista.org.br/assets/svg/mapa-mundo.svg" alt="escola" class=" col w-100">  

        <div class="col">
        <p class="lead ">
           Bem-vindo ao nosso site!

A nossa Escola tem como missão oferecer uma educação de qualidade, promovendo o desenvolvimento acadêmico, social e humano dos nossos alunos. Acreditamos que o aprendizado acontece todos os dias, dentro e fora da sala de aula, com respeito, dedicação e compromisso.

Aqui, cada estudante é incentivado a crescer, desenvolver suas habilidades e construir um futuro melhor por meio do conhecimento.

Nossa equipe de professores e colaboradores está sempre empenhada em proporcionar um ambiente acolhedor, seguro e inspirador para todos.

Seja bem-vindo à nossa comunidade escolar!
        </p>
        <div class="d-flex justify-content-center">

            <a href="/Cadastrar"
            class="btn btn-primary mt-3">
                Matrículas
            </a>
        </div>

        </div>
        
</div>
<div>
    <h1></h1>
</div>


<div class="row">
    <div class="col-4 pt-3 bg">
        <h1 class="texto text-center">Eugênia de Carvalho</h1>
        <h2 class="texto2 text-center">Vila Matilde</h2>
        <div class="d-flex p-3 gap-3 mt-5 ">
            <span>📍</span>
            <p>
                Eugênia de Carvalho, 1414 - Vila Matilde <br> 
                São Paulo-SP <br>
                CEP 03515-000
            </p>
        </div>
        <button class="ms-5 btn btn-warning ">Ver Mapa</button>
        <div class=" ms-5 mt-5">
            <p>Tel:(11) XXXXX-XXXX</p>
            <p>Whatsapp:(11) XXXXX-XXXX</p>
            
        </div>
        <div class=" ms-5  mt-5">
            <button class="mt-3 text-center cor-p1">Agendar Atendimento on Line</button>
            <button class=" mt-3 text-center cor-p1">Atendimento WhatsApp</button>
        </div>
        
 


    </div> 
    <div class="col-8 p-0">
        <img src="./img/bglogo.png" alt="logo" class="img-fluid w-100 d-block">
    </div>

</div>

<div class="row">

    <div id="carouselExample" class="carousel slide col-10">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="img/sala.png" class="d-block w-100" alt="..."/>
        </div>
        <div class="carousel-item">
        <img src="img/laboratorio.png" class="d-block w-100" alt="..."/>
        </div>
        <div class="carousel-item">
        <img src="img/quadra.png" class="d-block w-100" alt="..."/>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>

    <div class="bg-colorido col-2">
        <div class="container py-3">
            <h1 class="display-3 text-white fw-bold texto-vertical">ESTRUTURA</h1>
        </div>
    </div>
</div>




<div class="bg-colorido ">
    <div class="container py-3">
        <h1 class="display-3 text-white fw-bold">Localização</h1>
    </div>
</div>

<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14629.887320252867!2d-46.50784839999999!3d-23.551491849999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce67001f05f765%3A0x94eb823f1d673a26!2sCEU%20REI%20PEL%C3%89!5e0!3m2!1spt-BR!2sbr!4v1782310817375!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
</div>